@import "footer/footer.css";
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Bhai+2:wght@500&family=Poppins&display=swap);
*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: aqua;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: yellowgreen;
}
h4{
    font-size: 20x;
    /* line-height: 54px; */
    color:  blue; 
}
h6{
    font-weight: 49px;
    font-size: 12px;
  
}
p{
    font-size: 16px;
    color: brown;
    margin: 15px 0 20px 0;
}
.section-p1{
 padding: 80px 40px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background-color: #6be3e3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: inline-block;
}
#navbar li{
    display: inline-block;
    font-size: 20px;
}
#navbar li a{
    display: inline-block;
    color: blue;
    text-decoration: none;
    padding:4px 23px;
}

.discount-tag{
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 5px;
  color: palevioletred;
  text-transform: capitalize;
}
#hero{
     margin: 0px;
    padding: 0 70px;
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 200px top;
    height: 90vh;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color:#efedea;
}
#hero button{
    /* padding-right:1000px; */
    /* margin-right: 4000px; */
    background-color:beige;
    color: darkgreen;
    font-size: 50px;
    border: 0px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #c1d980;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid rgb(255, 47, 144);
    margin: 15px;
    border-radius:  4px;
  }
  #feature .fe-box:hover{
    box-shadow: 20px 20px 34px rgba(70, 62, 221, 0.1);
  }
  #feature .fe-box h3{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: green;
    background-color: aqua;
    display:inline-block ;
  }
  #feature .fe-box:nth-child(2) h3 {
  background-color: #ddf431;
  }
  #feature .fe-box:nth-child(3) h3 {
    background-color: blanchedalmond;
    }
    #feature .fe-box:nth-child(4) h3 {
        background-color: #cecdff;
        }
    
